* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainCanvas{
  display: grid;
  grid-template-columns: 2fr 1.2fr 2fr;
}

.bg {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sc {
  font-size: 2.4rem;
  margin: 1.2rem;
}

.img {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.small_img {
  height: 16vh;
  width: 20vw;
}

.box {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 31%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  align-items: center;
  position: relative;
  background-color: rgba(244, 192, 95, 0.6);
  border-radius: 1rem;
  padding: 1.2rem;
  z-index: 5;
}
