* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-size: 2.4rem;
}

.bg {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sc {
  font-size: 2.4rem;
  margin: 1.2rem;
}

.img {
  height: 100vh;
}

.img-box {
  position: absolute;
}

.small-img {
  height: 16vh;
}

.box {
  text-align: center;
  position: relative;
  background-color: rgba(244, 192, 95, 0.6);
  border-radius: 1rem;
  padding: 1.2rem;
}
