@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700%27');
@import url('https://fonts.googleapis.com/css?family=Roboto%27');

  /* padding */
  .p-left40{
    padding-left: 40%;
  }

  .flex-1{
    flex: 1;
  }
  .flex-2{
    flex: 2;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
  }

  /* components */
  .container {
    background-color: bisque;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: flex-end;
  }

  .cam-left{
    background-color:darksalmon;
    height: 100vh -1px;
    width: 50vw;
    border: 1px solid black;
  }
  .cam-right{
    background-color:darksalmon;
    height: 100vh -1px;
    width: 50vw;
    border: 1px solid black;
  }

  .profile-left {
    position: absolute;
    height: 18vh;
    width: 8.5vw;
    border: 2px solid white;
    margin-left: 2.5vw;
    margin-top: 30vh;
  }

  .profile-right {
    position: absolute;
    height: 18vh;
    width: 8.5vw;
    border: 2px solid white;
    margin-left: 38.5vw;
    margin-top: 30vh;
  }

  .player-detail-left{
    position: absolute;
    width: 20vmin;
    font-size: 2vmin;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: inline-block;
    left: 14%;
    top: 5%;
  }

  .player-detail-right{
    position: absolute;
    width: 20vmin;
    font-size: 2vmin;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: inline-block;
    left: 76%;
    top: 5%;
  }

  .stars-l{
    position: absolute;
    display: inline-block;
    left: 13.75%;
    top: 10%;
    height: 3vh;
    width: 10vw;
    }

  .stars-r{
    position: absolute;
    display: inline-block;
    left: 76%;
    top: 10%;
    height: 3vh;
    width: 10vw;
    }
  
  .round{
    position: absolute;
    height: 10vh;
    width: 12vw;
    display: block;
    left: 44%;
    top: 10%;
  }

  .round-num{
    position: absolute;
    height: 5vh;
    width: 1.5vw;
    display: block;
    left: 53.5%;
    top: 12%;
  }

  .combo-left{
    position: absolute;
    height: 8vh;
    width: 10vw;
    display: inline-block;
    left: 2.5%;
    top: 27%
  }
  
  .combo-right{
    position: absolute;
    height: 5vh;
    width: 10vw;
    display: inline-block;
    left: 87.25%;
    top: 27%
  }
