* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-color: #000000;
  background-size: cover;
  display: grid;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: auto;
}

.sc {
  font-size: 2.4rem;
  margin: 1.2rem;
}

.img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.small_img {
  height: 16vh;
  width: 20vw;
}

.box {
  margin-top: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  align-items: center;
  position: relative;
  background-color: rgba(44, 147, 237, 0.6);
  border-radius: 1rem;
  padding: 1.2rem;
}
