.btn{
	font-weight: 800;
	position: relative;
	outline: none;
	border: none;
	height: 3rem;
	width: 3rem;
	align-items: center;
	border-radius: 15px;
	background: transparent;
	font-size: 1rem;
	font-family: inherit;
	text-transform: capitalize;
	color: black;
	background-color: bisque;
	cursor: pointer;
	z-index: 5;
}

.btn:hover {
	scale: 1.02;
}