.testcam-container{
	position: relative;
	display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.background{
  position: absolute;
  width: 100vw;
  height: 100vh;
}
